*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.exe
*.odt
*.bcf
*.ent
*.idx
*.ilg
*.ind
*.json
Coq FRAP
Ocaml/tableaux/_build
Ocaml/_build
LaTeX/Model companion for CTLf LaTeX
LaTeX/Duality for X-diam-I algebras LaTeX
LaTeX/Automata completeness
LaTeX/Tex duality book 7 march
LaTeX/Ultrafilter construction